[flake8]
max-line-length = 88

select = C,E,F,W,B,B950

ignore =
    E266 # E266 too many leading '#' for block comment
    E501 # line too long (103 > 88 characters)
    W503 # W503 line break before binary operator

exclude =
    .git
    db_init_script
    database-data
    __pycache__
    __init__.py
    .mypy_cache
    .pytest_cache
