[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
aiohttp = "*"
typing-extensions = "*"
PyGithub = "*"
GitPython = "*"
google-api-python-client = "*"
httplib2 = "*"
oauth2client = "*"
aioresponses = "*"
boto3 = "*"
requests = "*"
python-magic = "*"
asyncio = "*"
gql = "*"
celery = "*"
redis = "*"
dropbox = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
