[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
aiohttp = "*"
typing-extensions = "*"
PyGithub = "*"
GitPython = "*"
google-api-python-client = "*"
httplib2 = "*"
oauth2client = "*"
aioresponses = "*"
boto3 = "*"
requests = "*"
python-magic = "*"
celery = "*"
redis = "*"
dropbox = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pytest = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[dev-packages]
black = "==20.8b1"
gql = "*"

[packages.gql]
extras = [ "aiohttp",]
