version: 2.1


orbs:
  docker: circleci/docker@1.5.0

jobs:
  build:

    docker:
      - image: "circleci/python:3.7"
      - image: circleci/postgres
        command: postgres -c 'fsync=off' -c 'synchronous_commit=off' -c 'full_page_writes=off'
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgtres
      - image: circleci/redis
    resource_class: small
    environment:
      SERVER_NAME: localhost
      SERVER_HOST: http://localhost
      PROJECT_NAME: dido
      BACKEND_CORS_ORIGINS: "[\"http://localhost:8000\"]"
      POSTGRES_SERVER: localhost
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      PYTEST_POSTGRES_SERVER: localhost
      PYTEST_POSTGRES_USER: postgres
      PYTEST_POSTGRES_PASSWORD: postgres
      PYTEST_POSTGRES_DB: test
      DOWNLOAD_BASE_PATH: /tmp
      BROKER_URL: redis://redis:6379/0
      BACKEND_URL: redis://redis:6379/0

    working_directory: ~/dido

    steps:

      - checkout

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: python VENV
          command: |
            sudo pip install pipenv
            pipenv install --pre --dev
          when: always
            
      - run:
          name: pre-commit checks
          command: |
            pipenv run pre-commit install
            pipenv run pre-commit run --all --show-diff-on-failure
          when: always

      - run:
          name: Build using docker-compose
          command: |
            docker-compose build

      - run:
          name: unit-tests
          command: |
            rm -f ~/.gitconfig
            rm -f .env
            mkdir test-results
            pipenv run pytest --junitxml=test-results/junit.xml
          when: always  # run even if there is a flake8 error

      - store_test_results:
          path: test-results

      - store_artifacts:
          path: test-results